In [56]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="0978101611@Baki",
    database="ALX")

In [57]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM students")

In [58]:
myresult = mycursor.fetchall()

In [59]:
for row in myresult:
    print(row)

(1, 'kaleb', 'Kebede', 3.9)

In [60]:
sql = "UPDATE students SET name = %s WHERE studentId = %s"
name = "almaz"
studentId = 1  
val = (name, studentId)

In [61]:
for row in myresult:
    print(row)

(1, 'kaleb', 'Kebede', 3.9)